  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
    }
    body {
      background-color:  #343a40;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .main{
      display: flex;
    }
    .page_1 {
        width: 570px;
        height: 94vh;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .image_logo img {
        width: 310px;
        height: 175px;
        margin-top: -21px;
    }
    .registration_form {
        background: #fff;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 96px;
        width: 100%;
        height: 70%;
    }
    .login-container h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    .input_box {
        margin-bottom: 6px;
        margin-left: 55px;
    }
    .input_box input {
        width: 89%;
        padding: 12px 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    .gender_box {
        width: 548px;
        height: 113px;
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-left: 55px;
    }
    .gender_box h2 {
        width: 544px;
        height: 31px;
        border: none;
        margin-bottom: -62px;
        font-size: 18px;
        color: #333;
    }
    .gender_input {
        width: 116px;
        height: 35px;
        border: 1px solid #ccc;
        padding-left: 13px;
        padding-top: 4px;
        border-radius: 10px;
        margin: 10px;
        margin-left: 0px;
    }

    .gender_input label {
        font-size: 16px;
        color: #555;
    }
    .form_button {
        text-align: center;
    }
    .form_button button {
        background: #343a40;
        color: #fff;
        border: none;
        padding: 12px 25px;
        border-radius: 4px;
        font-size: 22px;
        cursor: pointer;
        width: 81%;
        font-weight: bold;
        border-radius: 18px;
    }
   .login_link {
        text-align: center;
        margin-top: 17px;
    }

   .login_link a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .page_2 img{
        width: 570px;
        height: 94vh; 
    }
    
    .login_form {
        background: none;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 96px;
        width: 100%;
        height: 61%;
        margin: 27px;
    }
    .login_QR {
        text-align: center;
        margin-top: 12px;

    }
    .login_QR i {
        color: black;
        font-size: 80px;
    }
.login_button {
    text-align: center;
    margin-top: 23px;
}
  .login_button button {
        background: #343a40;
        color: #fff;
        border: none;
        padding: 12px 25px;
        border-radius: 4px;
        font-size: 22px;
        cursor: pointer;
        width: 81%;
        font-weight: bold;
        border-radius: 18px;
    }

